.dashboard-container {
    padding: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.dashboard-card {
    flex: 1 1 250px;
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.dashboard-card h3 {
    margin: 15px 0 10px;
    font-size: 1.2rem;
}

.dashboard-card p {
    font-size: 0.95rem;
    color: #555;
}

.dashboard-card.coming-soon {
    opacity: 0.7;
}
.progress-bar {
    background: #ddd;
    border-radius: 12px;
    overflow: hidden;
    height: 20px;
    margin-top: 10px;
}

.progress-fill {
    background: #d1f0d1;
    height: 100%;
    color: #333;
    text-align: center;
    font-size: 0.9rem;
    line-height: 20px;
}

.announcements-section {
    min-width: 63%;
    max-width: 63%;
    background: #fff3cd;
    padding: 15px;
    border-radius: 10px;
    /* margin-top: 20px; */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.announcements-section ul {
    padding-left: 20px;
}

.announcements-section li {
    margin-bottom: 8px;
}

.dashboard-card textarea {
    width: 100%;
    min-height: 60px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.dashboard-card button.export-btn {
    width: 60%;
    height: 45px;
    margin-top: 10px;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.dashboard-card button.export-btn:hover {
    background-color: #45a049;
}


.announcements-section {
      min-width: 63%;
    max-width: 63%;
    background: #fff3cd;
    padding: 15px;
    border-radius: 10px;
    /* margin-top: 20px; */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.announcement-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    list-style: none;
}

.announcement-item:last-child {
    border-bottom: none;
}

.announcement-header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #666;
}

.announcement-message {
    margin-top: 5px;
    font-size: 14px;
}

.announcement-author {
    font-weight: 600;
    color: #333;
}

.view-all {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.view-all:hover {
    text-decoration: underline;
}
