.hod-container {
  max-width: 1100px;
  margin: auto;
}

.hod-note {
  color: #555;
  margin-bottom: 15px;
}


.hod-filters {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.hod-search-input,
.hod-filters select {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s;
}

.hod-search-input:focus,
.hod-filters select:focus {
  border-color: #1890ff;
}


.hod-table {
  width: 100%;
  border-collapse: collapse;
}

.hod-table th,
.hod-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.hod-table thead {
  background: #f3f4f6;
}

.hod-row-active {
  background: #e6f7ff;
}

.hod-capacity-input {
  width: 70px;
}

.hod-publish-btn {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  background: #1e293b;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.hod-publish-btn:hover{
  background: #334155;
    transform: scale(1.05);
    transition: all ease-in-out;
}

/* .export-btn {
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    background: #1e293b;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.export-btn:hover {
    background: #334155;
} */

.close-now-btn{
    margin-left: 40px;
    background-color: #dc2626;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.close-now-btn:hover{
    transform: scale(1.05);
    transition: all ease-in-out;
}