/* MyCourses.css */

.my-courses-page {
    max-width: 1200px;
    /* margin: 20px auto; */
    padding: 20px;
}

.my-courses-page h2 {
    margin-bottom: 40px;
}

.my-courses-page section {
    margin-bottom: 40px;
    background-color: #f8f9fa;
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 3px 8px rgba(0,0,0,0.1); */
}

.my-courses-page h3 {
    margin-bottom: 15px;
    /* color: #34495e; */
    /* border-bottom: 2px solid #000; */
    padding-bottom: 5px;
}

.my-courses-page table {

   width: 100%;
  border-collapse: collapse;

}

.my-courses-page table thead {
  background: #f3f4f6;
  color: #000;

    padding: 12px !important;
}


.my-courses-page table th,
.my-courses-page table td {
 border: 1px solid #ccc;
  padding: 10px !important;
}

/* .my-courses-page table tbody tr:nth-child(even) {
    background-color: #ecf0f1;
} */

.my-courses-page table tbody tr:hover {
    background-color: #d6eaf8;
}

.prereq-unmet {
    color: #e74c3c;
    font-weight: bold;
}

.completed {
    color: #27ae60;
    font-weight: bold;
}

.current-term {
    color: #2980b9;
    font-weight: bold;
}

.remaining {
    color: #f39c12;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    .my-courses-page table th,
    .my-courses-page table td {
        padding: 8px 10px;
        font-size: 14px;
    }

    .my-courses-page section {
        padding: 15px;
    }
}
