.portal-container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #1f2937;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Top part of sidebar (logo + menu) */
.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
     filter: drop-shadow(0 0 1px white) drop-shadow(0 0 10px white);
}

.sidebar h3 {
    margin: 0 0 20px 0;
    text-align: center;
}

/* Menu items */
.sidebar-menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar-menu li {
    margin-bottom: 12px;
    padding: 12px 15px;
    background-color: #2c3848;
    border-radius: 10px;
}

.sidebar-menu li:hover{
    transform: scale(1.01);
    background-color: #334155;

}

.sidebar-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Logout button */
.logout-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    color: #f87171; /* أحمر */
    border: none;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    margin-bottom: 20px;
}

/* Main content */
.main-content {
    flex: 1;
    padding: 30px;
    background: #f9fafb;
    overflow-y: auto;
}
