.history-container {
  padding: 30px;
  font-family: Arial, sans-serif;
}

.history-title {
  margin-bottom: 20px;
}

.history-table-wrapper,
.snapshot-table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 50px;

}



.history-table,
.snapshot-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th,
.history-table td,
.snapshot-table th,
.snapshot-table td {
   border: 1px solid #ccc;
  padding: 10px;
}

.history-table th,
.snapshot-table th {
  background: #f3f4f6;
}

.view-btn {
  padding: 6px 12px;
  border: none;
  background-color: #d1f0d1;
  color: #2e7d32;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.view-btn:hover {
  background-color: #dff7df;
}

.snapshot-card {
  /* border: 1px solid #ccc; */
  
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.snapshot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}



.snapshot-summary {
    width: max-content;
    background-color: #fef9c3;  
    border-left: 5px solid #ffc107; 
    padding: 10px 15px;
    margin: 15px 0;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    color: #92400e;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.snapshot-summary1{
 width: max-content;
    background-color: #d1f0d1;  
    border-left: 5px solid #2e7d32; 
     color: #166534;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    /* color: #333; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);   
}


.history-filters {
    display: flex;
    gap: 20px;

    justify-content: center;
    align-items: center;
}

.history-filters label {
    font-weight: 500;
    color: #2c3e50;
}

.history-filters select {
    margin-left: 8px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.history-filters label:focus,
.history-filters select:focus {
  outline: none;
  border-color: #1890ff;
  box-shadow: 0 0 3px #1890ff;
}


.historyheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.export-btn2 {
    padding: 10px 20px !important;
    background-color: #1e293b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
    align-self:flex-start !important; 
    height: 100%;
    margin: auto 0;
}

.export-btn2:hover {
    background-color: #334155; 
}
